.asha-front-vue

asha-front-vue
.gitignore*
ashafront/src/assets/*
ashafront/node_modules/
ashaadmin/node_modules/
ashabackend/media/*
ashabackend/static/*
ashabackend/db.sqlite3
ashabackend/bin/
ashabackend/lib*/
ashabackend/share/
ashabackend/pyvenv.cfg
migrations/
__pycache__/
ashafront/src/assets/*